@media (min-width: 319px) and (max-width: 1199px) {
    body {
        font-family: pacifico, "Open Sans", sans-serif;
        margin: 0;
        padding: 0 7.4%;
        background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
        text-align: center;
    }
    section {
        position: relative;
        top: 33.2%;
        left: auto;
    }
    h1 {
        font-size: 45px;
        font-weight: 500;
    }
    .social {
        font-size: 22px;
    }
    .fa {
        color: rgb(85, 26, 139);
    }
    footer {
        position: absolute;
        top: 97.5%;
        left: 11%;
        text-align: center;
        font-size: 11px;
        font-family: "open sans";
        color: rgba(52, 67, 94, 0.5);
        padding: 2px;
        margin: 1px;
    }
}

@media (min-width: 1200px) {
    body {
        font-family: pacifico, "Open Sans", sans-serif;
        margin: 0;
        padding: 0 7.4%;
        background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
        text-align: center;
    }
    section {
        position: relative;
        top: 33.2%;
        left: auto;
    }
    h1 {
        font-size: 45px;
        font-weight: 500;
    }
    .social {
        font-size: 22px;
    }
    .fa {
        color: rgb(85, 26, 139);
    }
    footer {
        position: absolute;
        top: 97.5%;
        left: 40%;
        text-align: center;
        font-size: 11px;
        font-family: "open sans";
        color: rgba(52, 67, 94, 0.5);
        padding: 2px;
        margin: 1px;
    }
}